@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


body, h1, h2, h3, p, ul, ol, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include border and padding in the element's total width and height */
}

:root {
    --firstpage-background: #EFC1C7; /* Definisanje varijable */
    --secondpage-background: #CBA15D; /* Definisanje varijable */
    --thirdpage-background: #E79B7F; /* Definisanje varijable */
    --fourthpage-background: #FFFDEB; /* Definisanje varijable */
    --fifthpage-background: #9BAF96; /* Definisanje varijable */
    --sixthpage-background: #9BAF96; /* Definisanje varijable */
    --font: #38495B;
    --bs-btn-active-color: #25a244;
}

/* Osnovni stil tijela stranice */
body {

    font-family: 'Playfair Display', serif;
    font-weight: bold;
    line-height: 1.6;
    color: var(--font);
    background-color: #f4f4f4;
}

h1 {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.2; /* Postavljamo line-height na manju vrednost */
}

h2 {
    font-size: 56px;
    font-weight: 800;
}

h3 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.2; /* Postavljamo line-height na manju vrednost */
}

h4 {

    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.2; /* Postavljamo line-height na manju vrednost */
}

p {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 5px;
    text-align: justify;
}

/* Osnovni stil za zaglavlje (header) */
header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

/* Osnovni stil za glavni sadržaj stranice */
.main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Osnovni stil za poveznice (linkove) */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Osnovni stil za slike */
/*img {*/
/*    max-width: 500px;*/
/*    height: auto;*/
/*}*/

.container {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

/*First page */

.first-page {
    display: flex;
    background-color: var(--firstpage-background);
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.first-page-image-container {
    position: relative; /* Postavljamo relativnu poziciju na roditeljski div */
    height: auto; /* Visina će se automatski prilagoditi sadržaju */
}

.first-page-text-container {
    padding: 40px;
}

.first-page-text-container > h1 {
    width: 500px;
    margin-bottom: 30px;
}

.first-page-text-container > button {
    width: 400px;
}

.main-image {
    border: 2px solid white; /* Dodajemo beli border */
    border-radius: 300px 300px; /* Zaobljujemo gornje ivice slike */
    height: 700px;
}

.small-image-top {
    position: absolute; /* Postavljamo apsolutnu poziciju na male slike */
    width: 150px;
    top: 20px; /* Postavljamo na gornji deo roditeljskog diva */
    left: 20px; /* Postavljamo na levi deo roditeljskog diva */
}

.small-image-bottom {
    position: absolute; /* Postavljamo apsolutnu poziciju na male slike */
    width: 150px;
    bottom: 10px;
    right: 1px;
}

/* druga strana */

.second-page {
    display: flex;
    background-color: var(--secondpage-background);
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* treca strana */

.third-page {
    display: flex;
    background-color: var(--thirdpage-background);
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.third-page > div {
    width: 50%;
}

.third-page-text-container {
    margin-right: 40px;
}

.third-page-image-container {

    position: relative; /* Postavljamo relativnu poziciju na roditeljski div */
    width: 700px; /* Možete promeniti širinu prema potrebi */
    height: auto; /* Visina će se automatski prilagoditi sadržaju */
}

.fourth-page {
    display: flex;
    background-color: var(--fourthpage-background);
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fourth-page > button {

    border: 1px solid var(--font); /* Boja granice */
}

.fourth-page-image-div {
    border: 2px solid white; /* Dodajemo beli border */
    background-size: cover; /* Da bi slika popunila celu pozadinu */
    height: 600px;
    width: 350px;
}

.fourth-page-image-div-one {
    border-radius: 60px 300px 60px 300px; /* Zaobljujemo gornje ivice slike */
    background-image: url('/img/cvetici.webp'); /* Postavljamo pozadinu slike */
}

.fourth-page-image-div-two {
    border-radius: 300px; /* Zaobljujemo gornje ivice slike */
    background-image: url('/img/slika2.webp'); /* Postavljamo pozadinu slike */
    background-position: center;
}

.fourth-page-image-div-three {
    border-radius: 300px 60px 300px 60px; /* Zaobljujemo gornje ivice slike */
    background-image: url('/img/slika3.jpg'); /* Postavljamo pozadinu slike */
}

.fourth-page-element {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.fifth-page {
    display: flex;
    background-color: var(--firstpage-background);
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fifth-page-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.fifth-page-image-div-one {
    border-radius: 150px; /* Zaobljujemo gornje ivice slike */
    height: 400px;
    background-image: url('/img/cvetici.webp'); /* Postavljamo pozadinu slike */
}

.fifth-page-image-div-two {
    border-radius: 150px; /* Zaobljujemo gornje ivice slike */
    width: 500px;
    height: 300px;
    background-image: url('/img/cvetici.webp'); /* Postavljamo pozadinu slike */
}

.fifth-page-image-div-three {
    border-radius: 150px; /* Zaobljujemo gornje ivice slike */
    width: 500px;
    height: 300px;
    background-image: url('/img/cvetici.webp'); /* Postavljamo pozadinu slike */
}

.fifth-page-header {
    margin-bottom: 20px;
}

.first-page-text-holder-one {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 20px;
}

.product-categories {
    display: flex;
    margin: 30px 0 30px 0;
    justify-content: center;
    align-content: center;
}

.sixth-page {
    display: flex;
    background-color: var(--sixthpage-background);
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* dugme */
/* Osnovni stil za HTML button */
button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid white; /* Boja granice */;
    color: var(--font);
    font-weight: 600;
    border-radius: 5px; /* Zaobljeni rubovi */
    background-color: transparent; /* Boja pozadine */
    /*color: #fff; !* Boja teksta *!*/
    transition: background-color 0.3s ease, color 0.3s ease; /* Glatki prijelazi */
}

/* Pseudo-klase za hover efekte */
button:hover {
    background-color: #0056b3; /* Promijenjena boja pozadine na hover */
    color: #fff; /* Promijenjena boja teksta na hover */
}

@media (max-width: 991px) {

    p {
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 5px;
        text-align: justify;
    }

    /* Stilovi za tablete ovdje */
    .first-page {
        flex-direction: column;
        text-align: center;
    }

    .second-page {
    }

    .third-page {
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .third-page > div {
        width: 100%;
    }

    .third-page-image-container {
        width: 400px;
    }

    .third-page-text-container {
        margin-right: 0;
        margin-bottom: 50px;
    }

    .fourth-page {
    }

    .product-categories {
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}

@media (min-width: 992px) {
    /* Stilovi za desktop računala ovdje */

}

